@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --color-darker-msg-text: 201, 237, 239; //#c9edef
        --color-darker-msg-user-bg: 1, 92, 74; //#015c4a
        --color-darker-msg-time-text: 131, 162, 172; //#83a2ac
        --color-darker-msg-number-text: 134, 150, 160; //#8696a0
        --color-darker-user-input: 208, 214, 219; //#d0d6db
        --color-darker-user-name-text: 233, 237, 209; //#e9edd1
        --color-darker-alert-text: 230, 0, 35; //#e60023
        --color-darker-detail-bg: 0, 92, 75; //#005c4b
        --color-darker-detail-hover-bg: 11, 135, 112; //#0b8770
        --color-darker-solid-bg: 32, 45, 50; //#202d32
        --color-darker-chat-bg: 11, 21, 27; //#0b151b
        --color-darker-list-bg: 16, 26, 33; //#101a21
        --color-darker-selected-bg: 43, 56, 66; //#2b3842

        --color-default-msg-text: 201, 237, 239; //#c9edef
        --color-default-msg-user-bg: 1, 92, 74; //#015c4a
        --color-default-msg-time-text: 131, 162, 172; //#83a2ac
        --color-default-msg-number-text: 134, 150, 160; //#8696a0
        --color-default-user-input: 208, 214, 219; //#d0d6db
        --color-default-user-name-text: 233, 237, 209; //#e9edd1
        --color-default-alert-text: 230, 0, 35; //#e60023
        --color-default-detail-bg: 211, 174, 54; //#d3af37
        --color-default-detail-hover-bg: 227, 184, 45; //#e3b82d
        --color-default-solid-bg: 32, 45, 50; //#202d32
        --color-default-chat-bg: 11, 21, 27; //#0b151b
        --color-default-list-bg: 16, 26, 33; //#101a21
        --color-default-selected-bg: 43, 56, 66; //#2b3842
        --text-size-base: 10px;
    }
}
